.rbc-calendar {
    background-color: var(--calendar-bg);
}

.rbc-toolbar {
    background-color: var(--calendar-header-bg);
    margin-bottom: 0;
    padding-bottom: calc(var(--spacing) * 4);
}

.rbc-btn-group button {
    background-color: var(--calendar-button-bg-off);
    border-color: var(--color-border);
    color: var(--calendar-button-text);
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
    background-color: var(--calendar-hover-bg);
    border-color: var(--color-border);
}

.rbc-month-view .rbc-today {
    background-color: var(--calendar-today-bg);
    color: var(--calendar-today-text);
}

.rbc-time-view .rbc-today {
    background-color: var(--calendar-bg);
    color: var(--calendar-today-text);
}

.rbc-current .rbc-button-link {
    color: var(--calendar-today-text);
}

.rbc-event {
    background-color: var(--calendar-event-bg);
    color: var(--calendar-event-text);
    border-radius: var(--radius-md);
}

.rbc-off-range-bg {
    background-color: var(--calendar-bg-off);
}

.rbc-month-view,
.rbc-header,
.rbc-header + .rbc-header,
.rbc-day-bg + .rbc-day-bg,
.rbc-month-row + .rbc-month-row,
.rbc-time-view,
.rbc-time-header,
.rbc-time-header-content,
.rbc-time-content,
.rbc-timeslot-group,
.rbc-day-bg + .rbc-day-bg,
.rbc-time-content > * + * > *,
.rbc-day-slot .rbc-time-slot {
    border-color: var(--calendar-border);
}
