@import './fonts.css';
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Proxima Nova', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --color-gray-50: oklch(0.9687 0 126.09);
    --color-gray-100: oklch(0.8874 0 126.09);
    --color-gray-200: oklch(0.8061 0 126.09);
    --color-gray-300: oklch(0.7248 0 126.09);
    --color-gray-400: oklch(0.6435 0 126.09);
    --color-gray-500: oklch(0.5622 0 126.09);
    --color-gray-600: oklch(0.4809 0 126.09);
    --color-gray-700: oklch(0.3996 0 126.09);
    --color-gray-800: oklch(0.3183 0 126.09);
    --color-gray-900: oklch(0.237 0 126.09);
    --color-gray-950: oklch(0.177 0 126.09);

    --color-blue-50: oklch(0.9733 0.0138 226.8);
    --color-blue-100: oklch(0.9466 0.0276 226.8);
    --color-blue-200: oklch(0.8933 0.0551 226.8);
    --color-blue-300: oklch(0.84 0.0827 226.8);
    --color-blue-400: oklch(0.7775 0.1102 226.8);
    --color-blue-500: oklch(0.7149 0.1377 226.8);
    --color-blue-600: oklch(0.6149 0.1377 226.8);
    --color-blue-700: oklch(0.5149 0.1377 226.8);
    --color-blue-800: oklch(0.4149 0.1377 226.8);
    --color-blue-900: oklch(0.3149 0.1377 226.8);
    --color-blue-950: oklch(0.2399 0.1033 226.8);

    --color-orange-50: oklch(0.9733 0.0194 31.56);
    --color-orange-100: oklch(0.9466 0.0388 31.56);
    --color-orange-200: oklch(0.8933 0.0777 31.56);
    --color-orange-300: oklch(0.84 0.1165 31.56);
    --color-orange-400: oklch(0.7384 0.1554 31.56);
    --color-orange-500: oklch(0.6367 0.1942 31.56);
    --color-orange-600: oklch(0.5567 0.1942 31.56);
    --color-orange-700: oklch(0.4767 0.1942 31.56);
    --color-orange-800: oklch(0.3967 0.1942 31.56);
    --color-orange-900: oklch(0.3167 0.1942 31.56);
    --color-orange-950: oklch(0.2567 0.1456 31.56);

    --color-indigo-50: oklch(0.9733 0.0061 256.95);
    --color-indigo-100: oklch(0.9466 0.0122 256.95);
    --color-indigo-200: oklch(0.8933 0.0243 256.95);
    --color-indigo-300: oklch(0.84 0.0365 256.95);
    --color-indigo-400: oklch(0.7867 0.0487 256.95);
    --color-indigo-500: oklch(0.7333 0.0609 256.95);
    --color-indigo-600: oklch(0.68 0.0609 256.95);
    --color-indigo-700: oklch(0.2641 0.0609 256.95);
    --color-indigo-800: oklch(0.2141 0.0609 256.95);
    --color-indigo-900: oklch(0.1641 0.0609 256.95);
    --color-indigo-950: oklch(0.1291 0.0457 256.95);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --color-chart-1: oklch(0.707 0.165 254.624);
    --color-chart-2: oklch(0.623 0.214 259.815);
    --color-chart-3: oklch(0.546 0.245 262.881);
    --color-chart-4: oklch(0.488 0.243 264.376);
    --color-chart-5: oklch(0.424 0.199 265.638);
    --color-chart-6: oklch(0.379 0.146 265.522);
    --color-chart-7: oklch(0.248 0.078 268.2);

    --calendar-today-bg: oklch(0.488 0.243 264.376);
    --calendar-event-bg: oklch(0.379 0.146 265.522);

    --calendar-bg: var(--color-white);
    --calendar-header-bg: var(--color-gray-100);
    --calendar-header-text: var(--color-gray-700);
    --calendar-event-text: var(--color-white);
    --calendar-hover-bg: var(--color-gray-50);
}

@layer base {
    :root {
        --color-border: var(--color-gray-100);
        --color-background: var(--color-gray-50);
        --color-background-up: var(--color-white);
        --color-foreground: var(--color-gray-950);

        --sidebar: var(--color-background-up);
        --sidebar-foreground: var(--color-foreground);
        --sidebar-primary: var(--color-gray-900);
        --sidebar-primary-foreground: var(--color-gray-50);
        --sidebar-accent: var(--color-gray-100);
        --sidebar-accent-foreground: var(--color-gray-900);
        --sidebar-border: var(--color-border);
        --sidebar-ring: var(--color-blue-500);

        --calendar-bg: var(--color-background-up);
        --calendar-bg-off: var(--color-background);
        --calendar-border: var(--color-border);
        --calendar-header-bg: var(--color-background);
        --calendar-header-text: var(--color-foreground);
        --calendar-today-bg: var(--color-indigo-700);
        --calendar-today-text: var(--color-white);
        --calendar-event-bg: var(--color-blue-600);
        --calendar-event-text: var(--color-background-up);
        --calendar-button-bg: var(--color-background-up);
        --calendar-button-text: var(--color-foreground);
        --calendar-hover-bg: var(--color-background-up);
    }

    .dark {
        --color-border: var(--color-gray-800);
        --color-background: var(--color-gray-900);
        --color-background-up: var(--color-gray-950);
        --color-foreground: var(--color-gray-200);

        --sidebar: var(--color-background-up);
        --sidebar-foreground: var(--color-foreground);
        --sidebar-primary: var(--color-gray-200);
        --sidebar-primary-foreground: var(--color-gray-900);
        --sidebar-accent: var(--color-gray-800);
        --sidebar-accent-foreground: var(--color-gray-100);
        --sidebar-border: var(--color-border);
        --sidebar-ring: var(--color-blue-400);

        --calendar-bg: var(--color-background-up);
        --calendar-bg-off: var(--color-background);
        --calendar-border: var(--color-border);
        --calendar-header-bg: var(--color-background);
        --calendar-header-text: var(--color-foreground);
        --calendar-today-bg: var(--color-indigo-700);
        --calendar-today-text: var(--color-white);
        --calendar-event-bg: var(--color-indigo-300);
        --calendar-event-text: var(--color-black);
        --calendar-button-bg: var(--color-background-up);
        --calendar-button-text: var(--color-white);
        --calendar-hover-bg: var(--color-black);
    }
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-border);
    }
    body {
        background-color: var(--color-background);
        color: var(--color-foreground);
    }
    body:has(button.navigation-open) {
        overflow: hidden;
    }
}

@theme inline {
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}
