@import './fonts.css';
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Proxima Nova', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --color-gray-50: oklch(0.985 0.002 210);
    --color-gray-100: oklch(0.967 0.003 210);
    --color-gray-200: oklch(0.922 0.005 210);
    --color-gray-300: oklch(0.875 0.008 210);
    --color-gray-400: oklch(0.738 0.01 210);
    --color-gray-500: oklch(0.596 0.012 210);
    --color-gray-600: oklch(0.477 0.014 210);
    --color-gray-700: oklch(0.375 0.02 210);
    --color-gray-800: oklch(0.275 0.014 210);
    --color-gray-900: oklch(0.185 0.012 210);
    --color-gray-950: oklch(0.125 0.008 210);

    --color-blue-50: oklch(0.97 0.014 254.604);
    --color-blue-100: oklch(0.932 0.032 255.585);
    --color-blue-200: oklch(0.882 0.059 254.128);
    --color-blue-300: oklch(0.809 0.105 251.813);
    --color-blue-400: oklch(0.707 0.165 254.624);
    --color-blue-500: oklch(0.623 0.214 259.815);
    --color-blue-600: oklch(0.546 0.245 262.881);
    --color-blue-700: oklch(0.488 0.243 264.376);
    --color-blue-800: oklch(0.424 0.199 265.638);
    --color-blue-900: oklch(0.379 0.146 265.522);
    --color-blue-950: oklch(0.282 0.091 267.935);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
    :root {
        --color-chart-1: oklch(0.707 0.165 254.624);
        --color-chart-2: oklch(0.623 0.214 259.815);
        --color-chart-3: oklch(0.546 0.245 262.881);
        --color-chart-4: oklch(0.488 0.243 264.376);
        --color-chart-5: oklch(0.424 0.199 265.638);
        --color-chart-6: oklch(0.379 0.146 265.522);
        --color-chart-7: oklch(0.248 0.078 268.2);

        --color-sidebar: var(--color-gray-50);
        --color-sidebar-foreground: var(--color-gray-950);
        --color-sidebar-primary: var(--color-gray-100);
        --color-sidebar-primary-foreground: oklch(0.97 0 0);
        --color-sidebar-accent: oklch(0.97 0 0);
        --color-sidebar-accent-foreground: var(--color-gray-950);
        --color-sidebar-border: var(--color-gray-300);
        --color-sidebar-ring: var(--color-gray-300);

        --color-border: var(--color-gray-300);
        --color-foreground: var(--color-gray-950);
        --color-background: var(--color-gray-100);
    }

    .dark {
        --color-chart-1: oklch(0.707 0.165 254.624);
        --color-chart-2: oklch(0.623 0.214 259.815);
        --color-chart-3: oklch(0.546 0.245 262.881);
        --color-chart-4: oklch(0.488 0.243 264.376);
        --color-chart-5: oklch(0.424 0.199 265.638);
        --color-chart-6: oklch(0.379 0.146 265.522);
        --color-chart-7: oklch(0.248 0.078 268.2);

        --color-sidebar: var(--color-gray-950);
        --color-sidebar-foreground: var(--color-gray-200);
        --color-sidebar-primary: var(--color-gray-950);
        --color-sidebar-primary-foreground: oklch(0.97 0 0);
        --color-sidebar-accent: var(--color-gray-950);
        --color-sidebar-accent-foreground: var(--color-gray-50);
        --color-sidebar-border: var(--color-gray-800);
        --color-sidebar-ring: var(--color-gray-800);

        --color-border: var(--color-gray-800);
        --color-foreground: var(--color-gray-200);
        --color-background: var(--color-gray-900);
    }
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-border);
    }
    body {
        background-color: var(--color-background);
        color: var(--color-foreground);
    }
    body:has(button.navigation-open) {
        overflow: hidden;
    }
}
